body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  border-radius: 50px;
  /* border : 1px solid black; */
  background-color: cornflowerblue;
  padding : 20px 0;
  display : flex;
  justify-content: center;
  color: antiquewhite;
}

.form {
  padding : 10px 0;
  display: flex;
  justify-content: center;
}

/* Mobile Phones */
@media only screen and (max-width: 400px){
  .MovieDetails{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .MovieDetails{
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;  
  }
}

/* Desktop and Computer screens */
@media only screen and (min-width: 961px) {
  .MovieDetails{
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;  
  }
}

/* .MovieDetails{
  padding: 20px 10px;
  display: flex;
  justify-content: space-evenly;  
} */


.Details {
  display : flex; 
  padding-right: 10px;
  align-items: flex-start;
}

ul {
  list-style-type: square;
}

.image {
  border : 2px solid black ;
  padding : 2px 2px ;
}